.text-logo {
	font-family: "Raleway", sans-serif;
	font-style: 700;
	font-size: 26px;
	line-height: 1.2;
	color: #000000;
	text-decoration: none;
	padding: 24px 0;
	margin-right: 90px;
}
.logo {
	color: var(--accent-color);
}
.text-logo-footer {
	color: var(--primary-white-color);
	font-family: "Raleway", sans-serif;
	font-style: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	margin-bottom: 20px;
	display: block;
}
